
body{
	background: rgba(59, 110, 187, 0.884);
	font-family: 'Franklin Gothic Medium';
}

.year{
	max-width: 1900px;
}

.year h1{
	font-family: 'Franklin Gothic Medium';
	color: #fff;
	text-align: center;
	font-size: 88px;
}

.year-container{
	display: inline-flex;
}

.year-img{
	margin: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 250px;
	height: 170px;
}

.year-item:hover{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.year-item:hover .year-img{
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
