body{
    background: rgba(11, 96, 194, 0.76);
}
.a{
    font-family: 'Franklin Gothic Medium';
    font-size: 4em;
    color: white;
}
.t{
    background:rgba(233, 233, 233, 0.801);
}
.link{
    text-decoration: none;
    color: white;
    font-size: 1.7em;
}
.mes{
    background: rgba(27, 233, 154, 0.897);
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: 1.5em;
    border: 0px;
}
.f{
    background:rgba(0, 171, 214, 0.884);
    font-family: 'Franklin Gothic Medium';
    color: rgba(255, 255, 255, 0.829);
}
.ju{
    background:rgba(43, 170, 170, 0.856);
    font-family: 'Franklin Gothic Medium';
    color: rgba(255, 255, 255, 0.829);
}


